@font-face {
    font-family: 'PokemonGSK2';
    src: url('PokemonGSK2.woff2') format('woff2'),
        url('PokemonGSK2.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}